body{
	color: #323a45;
}
a, a:hover{
	color: #323a45;
}
/*Utilities*/
/* style for crop image */
.cropped-image {
  position: relative;
  width: auto;
  overflow: hidden;
}
.cropped-image img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.cropped-image img.portrait {
  width: 100%;
  height: auto;
}
/*Home*/
.filter-header{
	background-color: #e1e3e5;
	padding: 10px 15px;
	margin-top: 20px;
	text-align: center;
}
.filter-header .title{
	margin-left: 10px;
}
.filter-content{
	padding: 10px 10px 0;
	border: 1px solid #e1e3e5;
}
/*Home/HouseList*/
.house-item{
	margin: 20px 0;
}
.house-item a:hover{
	text-decoration: none;
}
.house-item h5{
	margin-top: 10px;
	margin-bottom: 0px;
}
.house-item .item-views{
	margin-left: 30px;
}
.house-item .house-image-content{
	height: 270px;
}
.house-content-header{
	text-align: left;
}
.detail-main-content i{
	margin-right: 5px;
}
.item-details .house-price{
	margin-right: 5px;
}
/*Price Filter*/
.price-filter span:first-child{
	margin-right: 5px;
}
.price-filter span:last-child{
	margin-left: 5px;
}
/*Pagination section*/
.pagination-section{
	margin: 20px;
}
.pagination-section button{
	margin-right: 10px
}

/*House Detail*/
.detail-main-content i{
	margin-right: 5px;
}
.house-metrics{
	margin: 10px 10px 20px 10px;
	font-size: 18px;
}
.house-metrics a:hover i{
	color: #D21141;
}
.services-list{
	margin: 10px 20px;
}
.services-list .service-item{
	font-size: 16px;
	margin: 10px 0;
}
.house-features {
	margin: 30px 0;
}
.house-features i{
	display: block;
	font-size: 30px;
	margin-bottom: 7px;
}
.house-features span{
	font-size: 18px;
	font-weight: bold;
}
.house-section .form-group{
	margin-bottom: 0;
}
.house-section .form-horizontal .control-label{
	text-align: left;
}
.house-section .form-horizontal .control-label{
	padding-top: 0px;
	padding-bottom: 0px;
}
.house-section .form-control-static{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
}
.house-section{
	margin-bottom: 30px;
}
.house-actions a{
	width: 100%;
}
/*Contact styel - House detail*/
.contact-list{
	margin: 20px 0 30px;
}
.contact-list .row{
	margin-bottom: 10px;
}
.contact-list .field-title{
	font-weight: bold;
}
